## Overview

This Dataset contains Various Data Science related Jobs and Salaries. This dataset has 10 columns and 245 rows. These columns are explained as follows;
- work_year
 The year during which the salary was paid. There are two types of work year values:
2020
Year with a definitive amount from the past
2021e
Year with an estimated amount (e.g. current year)

- experience_level
The experience level in the job during the year with the following possible values:
EN - Entry-level / Junior
MI - Mid-level / Intermediate
SE - Senior-level / Expert
EX - Executive-level / Director

- employment_type
The type of employement for the role:
PT - Part-time
FT - Full-time
CT - Contract
FL - Freelance

- job_title
The role worked in during the year.
salary
The total gross salary amount paid.

- salary_currency
The currency of the salary paid as an ISO 4217 currency code.

- salary_in_usd
The salary in USD (FX rate divided by avg. USD rate for the respective year via fxdata.foorilla.com).

- employee_residence
Employee's primary country of residence in during the work year as an ISO 3166 country code.

- remote_ratio
The overall amount of work done remotely, possible values are as follows:
0 - No remote work (less than 20%)
50 - Partially remote
100 - Fully remote (more than 80%)

- company_location
The country of the employer's main office or contracting branch as an ISO 3166 country code.

- company_size
The average number of people that worked for the company during the year:
S - less than 50 employees (small)
M - 50 to 250 employees (medium)
L - more than 250 employees (large)

Dataset Source - ai-jobs.net Salaries

In [1]:
# Import library
import pandas as pd

In [2]:
# Load the dataset 
df = pd.read_csv('Data Jobs Salaries.csv')

df.head(11)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2021e,EN,FT,Data Science Consultant,54000,EUR,64369,DE,50,DE,L
1,2020,SE,FT,Data Scientist,60000,EUR,68428,GR,100,US,L
2,2021e,EX,FT,Head of Data Science,85000,USD,85000,RU,0,RU,M
3,2021e,EX,FT,Head of Data,230000,USD,230000,RU,50,RU,L
4,2021e,EN,FT,Machine Learning Engineer,125000,USD,125000,US,100,US,S
5,2021e,SE,FT,Data Analytics Manager,120000,USD,120000,US,100,US,M
6,2020,MI,FT,Research Scientist,450000,USD,450000,US,0,US,M
7,2020,MI,FT,Data Analyst,41000,EUR,46759,FR,50,FR,L
8,2020,MI,FT,Data Engineer,65000,EUR,74130,AT,50,AT,L
9,2021e,SE,FT,Data Science Engineer,159500,CAD,127543,CA,50,CA,L
10,2021e,SE,FT,Manager Data Science,144000,USD,144000,US,100,US,L

In [3]:
# Check the completeness of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           245 non-null    object
 1   experience_level    245 non-null    object
 2   employment_type     245 non-null    object
 3   job_title           245 non-null    object
 4   salary              245 non-null    int64
 5   salary_currency     245 non-null    object
 6   salary_in_usd       245 non-null    int64
 7   employee_residence  245 non-null    object
 8   remote_ratio        245 non-null    int64
 9   company_location    245 non-null    object
 10  company_size        245 non-null    object
dtypes: int64(3), object(8)
memory usage: 21.2+ KB

In [4]:
# Check for duplicated value
sum(df.duplicated())

1

In [5]:
# Drop duplicated value
df.drop_duplicates(inplace = True)

In [6]:
# Verify!
sum(df.duplicated())

0

In [7]:
# Drop invalid columns not needed for analysis 
df.drop(['work_year','salary_currency','salary','company_size'],axis=1,inplace=True)

In [8]:
# Verify!
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 0 to 244
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   experience_level    244 non-null    object
 1   employment_type     244 non-null    object
 2   job_title           244 non-null    object
 3   salary_in_usd       244 non-null    int64
 4   employee_residence  244 non-null    object
 5   remote_ratio        244 non-null    int64
 6   company_location    244 non-null    object
dtypes: int64(2), object(5)
memory usage: 15.2+ KB

In [9]:
# Rename for REMOTE_RATIO to WORK_MODEL for more clarity
df = df.rename(columns= {'remote_ratio': 'work_model'})

In [10]:
# Verify!
df.columns

Index(['experience_level', 'employment_type', 'job_title', 'salary_in_usd',
       'employee_residence', 'work_model', 'company_location'],
      dtype='object')

In [11]:
# Check values of EXPERIENCE_LEVEL column
df['experience_level'].unique()

array(['EN', 'SE', 'EX', 'MI'], dtype=object)

In [12]:
# Rename values with its full meaning for clarity 
df['experience_level'] = df['experience_level'].replace('EN','Entry Level')
df['experience_level'] = df['experience_level'].replace('SE','Senior Level')
df['experience_level'] = df['experience_level'].replace('EX','Executive Level')
df['experience_level'] = df['experience_level'].replace('MI','Intermediate  Level')

In [13]:
# Verify!
df['experience_level'].unique()

array(['Entry Level', 'Senior Level', 'Executive Level',
       'Intermediate  Level'], dtype=object)

In [14]:
# Check values of EMPLOYMENT_LEVEL column
df['employment_type'].unique()

array(['FT', 'PT', 'CT', 'FL'], dtype=object)

In [15]:
# Replace values with it full meaning for more understanding 
df['employment_type'] = df['employment_type'].replace('FT','Full-Time')
df['employment_type'] = df['employment_type'].replace('PT','Part-Time')
df['employment_type'] = df['employment_type'].replace('CT','Contract')
df['employment_type'] = df['employment_type'].replace('FL','Freelance')

In [16]:
# Verify
df['employment_type'].unique()

array(['Full-Time', 'Part-Time', 'Contract', 'Freelance'], dtype=object)

In [17]:
# Replace values of WORK_MODEL for more analytical clarity
df['work_model'] = df['work_model'].replace(0,'Office')
df['work_model'] = df['work_model'].replace(50,'Hybrid')
df['work_model'] = df['work_model'].replace(100,'Remote')

In [18]:
# Verify
df['work_model'].unique()

array(['Hybrid', 'Remote', 'Office'], dtype=object)

In [19]:
# check the values of COMPANY_LOCATION
df['company_location'].unique()

array(['DE', 'US', 'RU', 'FR', 'AT', 'CA', 'UA', 'NG', 'IN', 'ES', 'PL',
       'GB', 'PT', 'DK', 'SG', 'MX', 'TR', 'NL', 'AE', 'JP', 'CN', 'HU',
       'KE', 'CO', 'NZ', 'IR', 'CL', 'PK', 'BE', 'GR', 'SI', 'BR', 'CH',
       'IT', 'MD', 'LU', 'VN', 'AS', 'HR', 'IL', 'MT'], dtype=object)

In [20]:
# Create a dictionary of key and values for COMPANY_LOCATION
remove = {"DE":"Germany", "US":"United States", "RU":"Russia", "FR":"France",
          "AT":"Austria", "CA":"Canada", "UA":"Ukraine", "NG":"Nigeria", "IN":"India", "ES":"Spain", "PL":"Poland","GB":"United Kingdom",
          "PT":"Portugal","DK":"Denmark", "SG":"Singapore", "MX":"Mexico", "TR":"Turkey", "NL":"Netherlands", "AE":"United Arab Emirates", "JP":"Japan",
          "CN":"China", "HU":"Hungary", "KE":"Kenya", "CO":"Colombia", "NZ":"New Zealand", "IR":"Liberia", "CL":"Chile", "PK":"Pakistan",
          "BE":"Belgium", "GR":"Greece", "SI":"Slovenia","BR":"Burkina Faso","CH":"Switzerland","1T":"Italy","MD":"Moldova", "LU":"Luxembourg", "VN":"Vietnam",
          "AS":"American Samoa", "HR":"Croatia","IL":"Israel", "MT":"Malta"}

# Using a loop replace each value with it key in COMPANY_LOCATION 
for char in remove.keys():
    df['company_location'] = df['company_location'].replace(char, remove[char])
    
# Verify!   
df['company_location'].unique()

array(['Germany', 'United States', 'Russia', 'France', 'Austria',
       'Canada', 'Ukraine', 'Nigeria', 'India', 'Spain', 'Poland',
       'United Kingdom', 'Portugal', 'Denmark', 'Singapore', 'Mexico',
       'Turkey', 'Netherlands', 'United Arab Emirates', 'Japan', 'China',
       'Hungary', 'Kenya', 'Colombia', 'New Zealand', 'Liberia', 'Chile',
       'Pakistan', 'Belgium', 'Greece', 'Slovenia', 'Burkina Faso',
       'Switzerland', 'IT', 'Moldova', 'Luxembourg', 'Vietnam',
       'American Samoa', 'Croatia', 'Israel', 'Malta'], dtype=object)

In [21]:
# Create a dictionary of key and values for EMPLOYEE_RESIDENCE
remove = {"DE":"Germany", "US":"United States", "RU":"Russia", "FR":"France",
          "AT":"Austria", "CA":"Canada", "UA":"Ukraine", "NG":"Nigeria", "IN":"India", "ES":"Spain", "PL":"Poland","GB":"United Kingdom",
          "PT":"Portugal","DK":"Denmark", "SG":"Singapore", "MX":"Mexico", "TR":"Turkey", "NL":"Netherlands", "AE":"United Arab Emirates", "JP":"Japan",
          "CN":"China", "HU":"Hungary", "KE":"Kenya", "CO":"Colombia", "NZ":"New Zealand", "IR":"Liberia", "CL":"Chile", "PK":"Pakistan",
          "BE":"Belgium", "GR":"Greece", "SI":"Slovenia","BR":"Burkina Faso","CH":"Switzerland","1T":"Italy","MD":"Moldova", "LU":"Luxembourg", "VN":"Vietnam",
          "AS":"American Samoa", "HR":"Croatia","IL":"Israel", "MT":"Malta"}

# Using a loop replace each value with it key in EMPLOYEE_RESIDENCE 
for char in remove.keys():
    df['employee_residence'] = df['employee_residence'].replace(char, remove[char])
    
    
# Verify    
df['employee_residence'].unique()

array(['Germany', 'Greece', 'Russia', 'United States', 'France',
       'Austria', 'Canada', 'Ukraine', 'Nigeria', 'Pakistan', 'India',
       'United Kingdom', 'Spain', 'IT', 'Poland', 'BG', 'PH', 'Portugal',
       'Hungary', 'Singapore', 'Burkina Faso', 'Mexico', 'Turkey',
       'Netherlands', 'United Arab Emirates', 'Japan', 'JE', 'PR', 'RS',
       'Kenya', 'Colombia', 'New Zealand', 'Vietnam', 'Liberia', 'RO',
       'Chile', 'Belgium', 'Denmark', 'China', 'HK', 'Slovenia',
       'Moldova', 'Luxembourg', 'Croatia', 'Malta'], dtype=object)

In [22]:
# Check values of JOB_TITLE column
df['job_title'].unique()

array(['Data Science Consultant', 'Data Scientist',
       'Head of Data Science', 'Head of Data',
       'Machine Learning Engineer', 'Data Analytics Manager',
       'Research Scientist', 'Data Analyst', 'Data Engineer',
       'Data Science Engineer', 'Manager Data Science',
       'Data Engineering Manager', 'AI Scientist',
       '3D Computer Vision Researcher', 'ML Engineer',
       'Applied Data Scientist', 'Director of Data Science',
       'Data Analytics Engineer', 'Lead Data Analyst', 'BI Data Analyst',
       'Machine Learning Scientist',
       'Machine Learning Infrastructure Engineer',
       'Marketing Data Analyst', 'Lead Data Engineer',
       'Director of Data Engineering',
       'Computer Vision Software Engineer', 'Financial Data Analyst',
       'Cloud Data Engineer', 'Principal Data Analyst',
       'Big Data Architect', 'Lead Data Scientist', 'Data Architect',
       'Big Data Engineer', 'Staff Data Scientist',
       'Data Science Manager', 'Business Data Analyst',
       'Principal Data Scientist', 'Computer Vision Engineer',
       'Product Data Analyst', 'Principal Data Engineer',
       'Finance Data Analyst', 'Applied Machine Learning Scientist',
       'Data Specialist'], dtype=object)

In [23]:
Data_Scientist = ['Data Science Consultant', 'Data Scientist',
       'Head of Data Science','Head of Data','Research Scientist'
        ,'Manager Data Science','Applied Data Scientist', 'Director of Data Science',
        'Lead Data Scientist','Staff Data Scientist','Data Science Manager','Principal Data Scientist','Data Specialist']

Data_Analyst = ['Data Analytics Manager','Data Analyst','Lead Data Analyst', 'BI Data Analyst',
                'Marketing Data Analyst','Financial Data Analyst','Principal Data Analyst','Business Data Analyst',
                'Product Data Analyst','Finance Data Analyst']

Data_Engineer = ['Data Engineering Manager','Data Engineer','Data Science Engineer','Data Analytics Engineer',
                  'Lead Data Engineer','Director of Data Engineering','Cloud Data Engineer','Big Data Engineer',
                  'Principal Data Engineer']

Data_Architect = ['Big Data Architect','Data Architect']
 
    
Machine_Learning_Engineer = ['Machine Learning Engineer','ML Engineer','Machine Learning Scientist',
                              'Machine Learning Infrastructure Engineer','Applied Machine Learning Scientist']


AI_Engineer = ['AI Scientist']


Computer_Vision_Engineer = ['3D Computer Vision Researcher','Computer Vision Software Engineer',
                                  'Computer Vision Engineer']

In [24]:
df['job_title'] = df['job_title'].replace(Data_Scientist,'Data scientist')
df['job_title'] = df['job_title'].replace(Data_Analyst,'Data analyst')
df['job_title'] = df['job_title'].replace(Data_Engineer,'Data engineer')
df['job_title'] = df['job_title'].replace(Data_Architect,'Data architect')
df['job_title'] = df['job_title'].replace(Machine_Learning_Engineer,'Machine learning engineer')
df['job_title'] = df['job_title'].replace(AI_Engineer,'AI engineer')
df['job_title'] = df['job_title'].replace(Computer_Vision_Engineer,'Computer vision engineer')

In [25]:
df['job_title'].unique()

array(['Data scientist', 'Machine learning engineer', 'Data analyst',
       'Data engineer', 'AI engineer', 'Computer vision engineer',
       'Data architect'], dtype=object)

In [26]:
df[:11]

,experience_level,employment_type,job_title,salary_in_usd,employee_residence,work_model,company_location
0,Entry Level,Full-Time,Data scientist,64369,Germany,Hybrid,Germany
1,Senior Level,Full-Time,Data scientist,68428,Greece,Remote,United States
2,Executive Level,Full-Time,Data scientist,85000,Russia,Office,Russia
3,Executive Level,Full-Time,Data scientist,230000,Russia,Hybrid,Russia
4,Entry Level,Full-Time,Machine learning engineer,125000,United States,Remote,United States
5,Senior Level,Full-Time,Data analyst,120000,United States,Remote,United States
6,Intermediate Level,Full-Time,Data scientist,450000,United States,Office,United States
7,Intermediate Level,Full-Time,Data analyst,46759,France,Hybrid,France
8,Intermediate Level,Full-Time,Data engineer,74130,Austria,Hybrid,Austria
9,Senior Level,Full-Time,Data engineer,127543,Canada,Hybrid,Canada
10,Senior Level,Full-Time,Data scientist,144000,United States,Remote,United States

In [32]:
df.to_csv('Data_Jobs Salary cap.csv', index=False)